<article class="about active " data-page="about">
    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
        <p>Deeply passionate for earth sciences and eager to solve critical challanges using my expertise in programming.I am particularly interested in exploring how AI and ML can be used to solve complex geophysical problems,detect potential zones, optimize exploration process.I am actively seeking opportunities to grow my skills and apply for solving real world problems and collaborate with scientific community and contribute to research</p>
        <p>With expertise in cutting-edge web development technologies, I craft innovative solutions
            that drive business results. My proficiency in languages like Python enables me to build
            scalable, efficient, and secure applications.</p>
        <p>As a geophysicist, I have a deep understanding of the Earth's internal and external
            processes. My knowledge spans seismic interpretation, gravity and magnetic methods, and
            geophysical modeling.</p>
    </section>

    <section class="service">
        <h3 class="h3 service-title">What I'm doing</h3>

        <ul class="service-list">
            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/dsa.png?raw=true" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Data Structure and Algorithms</h4>
                    <p class="service-item-text">begining to solve DSA problem</p>
                </div>
            </li>

            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/web%20dev.png?raw=true" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Web development</h4>
                    <p class="service-item-text">High-quality development of sites at the professional
                        level.</p>
                </div>
            </li>

            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/dsa.png?raw=true" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Data Analysis</h4>
                    <p class="service-item-text">Good grip on Numpy
                        ,Matplotlib , pandas , Tensorflow,Scikitlearn</p>
                </div>
            </li>

            <!-- <li class="service-item">
            <div class="service-icon-box">
                <img src="https://i.postimg.cc/0NL8zHpx/icon-photo.png" alt="icon" width="40">
            </div>

            <div class="service-content-box">
                <h4 class="h4 service-item-title">Photography</h4>
                <p class="service-item-text">I make high-quality photos of any category at a professional level.</p>
            </div>
        </li> -->
        </ul>
    </section>

    <section class="testimonials">
        <h3 class="h3 testimonials-title">Hobby</h3>

        <ul class="testimonials-list has-scrollbar">
            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img style="padding:20px" src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/badminton.png?raw=true" alt="avatar"
                            data-testimonials-avatar width="60">
                    </figure>

                    <h4 class="h4 testimonials-item-title" data-testimonials-title>Badminton</h4>

                    <div class="testimonials-text" data-testimonials-text>
                        <p>Badminton is the only sport that I am deeply passionate about. It not only keeps me physically fit but also sharpens my reflexes and strategic thinking. Playing badminton helps me unwind and provides a perfect balance to my professional life. The thrill of a fast-paced game and the satisfaction of a well-placed shot are unparalleled. Whether playing singles or doubles, badminton offers a great way to connect with friends and meet new people, fostering a sense of community and teamwork.</p>
                    
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img style="padding: 20px;" src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/painting.png?raw=true" alt="avatar"
                            data-testimonials-avatar width="60">
                    </figure>

                    <h4 class="h4 testimonials-item-title" data-testimonials-title>Painting</h4>

                    <div class="testimonials-text" data-testimonials-text>
                        <p>Painting gives me an unique opportunity to showcase the creativity and imagination of my mind through pencil and paper</p>
                    </div>
                </div>
            </li>

            <!-- <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                    <img src="https://i.postimg.cc/fRFWhX9F/avatar-3.png" alt="avatar" data-testimonials-avatar width="60">
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily Evans</h4>

                <div class="testimonials-text" data-testimonials-text>
                    <p>I couldn't be happier with the website that Richard created for us. His attention to detail and creativity is unmatched. Our clients frequently compliment the design, and it has significantly improved our brand image.</p>
                </div>
            </div>
        </li>

        <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                    <img src="https://i.postimg.cc/zXv1Xv81/avatar-4.png" alt="avatar" data-testimonials-avatar width="60">
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry Williams</h4>

                <div class="testimonials-text" data-testimonials-text>
                    <p>I was overwhelmed with the thought of redesigning my online store, but Richard made the process seamless. The site is not only visually appealing but also optimized for conversions. I've seen a 50% increase in traffic since the launch!</p>
                </div>
            </div>
        </li> -->
        </ul>
    </section>

    <div class="modal-container " data-modal-container>
        <div class="overlay " data-overlay></div>

        <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn><ion-icon
                    name="close-outline"></ion-icon></button>

            <div class="modal-img-wrapper">
                <figure class="modal-avatar-box">
                    <img src="https://i.postimg.cc/zGDHfn3G/avatar-1.png" alt="Daniel Lewis" width="80"
                        data-modal-img>
                </figure>

                <img src="https://i.postimg.cc/mZ00RwX7/icon-quote.png" alt="quote icon">
            </div>

            <div class="modal-content">
                <h4 class="h3 modal-title" data-modal-title></h4>
                <time datetime="2023-06-14">14 June, 2023</time>

                <div class="modal-text" data-modal-text>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis explicabo accusantium iure velit expedita. Consequuntur hic autem error, iusto, officiis obcaecati harum vero, ipsum veritatis aut et laborum minus dolorem..</p>
                </div>
            </div>
        </section>
    </div>

    <!-- <section class="clients">
    <h3 class="h3 clients-title">Clients</h3>

    <ul class="clients-list has-scrollbar">
        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/YqfKyG66/logo-1-color.png" alt="logo"></a>
        </li>

        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/fWm6JtgG/logo-2-color.png" alt="logo"></a>
        </li>

        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/Bb07xpwd/logo-3-color.png" alt="logo"></a>
        </li>

        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/hv1yMmkh/logo-4-color.png" alt="logo"></a>
        </li>

        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/ry1P86Dc/logo-5-color.png" alt="logo"></a>
        </li>

        <li class="clients-item">
            <a href="#"><img src="https://i.postimg.cc/SsWDN8NV/logo-6-color.png" alt="logo"></a>
        </li>
    </ul>
</section> -->

</article>