<article class="resume " data-page="resume">
    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box"><ion-icon name="book-outline"></ion-icon></div>

            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Indian Institute of Technology (ISM),Dhanbad</h4>
                <span>2024 - 2027</span>
                <p class="timeline-text">Here I have studied a lot of subjects and learning it's application in the evolving earth science domain. I am particularly interested in integrating advanced computational technique with geophysical research</p>
                
                <p style="background-color: rgb(213, 177, 244);color: #2A004E; border-radius: 10px 0 10px 0;width:fit-content;padding:0 10px 0 10px">CGPA = 7.76 (till 1st sem)</p>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Chakdah college (Kalyani University)</h4>
                <span>2021 - 2024</span>
                <p class="timeline-text">My strong interest in natural scientific phenomenon has encouraged me to pursue bachelors in physics. It has equipped me with scientific approach, logical thinking and developed technical skills like critical problem solving advanced computation in me</p>
                <p style="background-color: rgb(213, 177, 244);color: #2A004E; border-radius: 10px 0 10px 0;width:fit-content;padding:0 10px 0 10px">CGPA = 8.87</p>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Santipur Municipal High School</h4>
                <span>2014 - 2021</span>
                <p class="timeline-text">There I learnt foundational courses .</p>
                <p style="background-color: rgb(213, 177, 244);color: #2A004E; border-radius: 10px 0 10px 0;width:fit-content;padding:0 10px 0 10px">CGPA = 9.1</p>
            </li>
        </ol>
    </section>
    <!-- experience section start -->
    <!-- <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box"><ion-icon name="book-outline"></ion-icon></div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Creative director</h4>
                <span>2015 - Present</span>
                <p class="timeline-text">I can develop and oversee creative concepts for projects and
                    campaigns managing a team of designers, writers, and other creative professionals.
                </p>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Art director</h4>
                <span>2013 - 2015</span>
                <p class="timeline-text">I create and develop visual concepts that align with the
                    project's goals and objectives, supervising the design process and managing
                    timelines and budgets for design projects.</p>
            </li>

            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Web designer</h4>
                <span>2010 - 2013</span>
                <p class="timeline-text">I create logos, color schemes and typography for a brand's
                    identity. Also I develop graphics for websites, social media and digital ads with
                    applications that enhance user experience.</p>
            </li>
        </ol>
    </section> -->
    <!-- experience section end  -->
    <section class="skill">
        <h3 class="h3 skills-title">My Skills</h3>

        <ul class="skills-list content-card">
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Web Development (Flask ,django)</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Dsa in C++</h5>
                    <data value="60">60%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 60%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Numpy, Matplotlib, Pandas</h5>
                    <data value="90">90%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 90%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Scikitlearn,Tensorflow</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
        </ul>
    </section>
</article>