<aside  class="sidebar ninja" id = "ninja1"  data-sidebar>
    <div class="sidebar-info">
        <figure style= "border-radius : 50%;" class="avatar-box">
            <img src="https://github.com/tuhinbidyanta/portfolio-web-image/blob/main/other/face.png?raw=true" alt="avatar" width="80">
        </figure>

        <div class="info-content">
            <h1 class="name" title="Tuhin Bidyanta">Tuhin Bidyanta</h1>
            <p class="title typing-text"></p>
        </div>

        <button class="info-more-btn" data-sidebar-btn>
            <span>Show Contacts</span>
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>

    <div class="sidebar-info-more">
        <div class="separator"></div>

        <ul class="contacts-list">
            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Email</p>

                    <a href="mailto:tbidyanta@gmail.com" class="contact-link">tbidyanta@gmail.com</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Phone</p>

                    <a href="tel:8001154087" class="contact-link">+91 8001154087</a>
                </div>
            </li>


            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="location-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Location</p>

                    <address>29, paramartha ganguli lane santipur , Nadia, West Bengal, India</address>
                </div>
            </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
            <li class="social-item"><a href="https://www.linkedin.com/in/tuhin-bidyanta-8a3a01266/" target='_blank' class="social-link"><ion-icon
                        name="logo-linkedin"></ion-icon></a></li>
            <li class="social-item"><a href="https://github.com/tuhinbidyanta" target='_blank' class="social-link"><ion-icon
                        name="logo-github"></ion-icon></a></li>
            <li class="social-item"><a href="https://www.instagram.com/tuhinbidyanta/" target='_blank' class="social-link"><ion-icon
                        name="logo-instagram"></ion-icon></a></li>
        </ul>
    </div>
</aside>